<header class="bg-danger">
    <nav class="navbar navbar-expand container navbar-light">
        <span class="navbar-brand">
            Symfony découverte
        </span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('exo2') }}" class="nav-link">Exo 2</a>
                {# <?= $router->generate("exo2") ?>  #}
            </li>
            <li class="nav-item">
                <a href="{{ path('boucle-condition') }}" class="nav-link">for if</a>
            </li>
        </ul>
    </nav>
</header>
