{% extends "bootstrap.html.twig" %}

{% block body %}
    <h1>Ajouter une nouvel article</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit">
    {{ form_end(form) }}
{% endblock %}