{# 

{{  }} => <?= ?>
 => <?php // .... ?>

<?php foreach() : ?>
<?php endforeach ?>
{% for in  %}
{% endfor %}

<?php if() : ?>
<?php endif ?>
{% if %}
{% endif %} 

#}

<h1>Bonjour les amis</h1>
<h2>{{  h1  }}</h2>
{# <h2><?= $data["h1"] ?></h2>  #}
<p>comment allez vous ce matin ?</p>
{# 
appeler cette page en appelant 
l'adresse internet suivante : http://192.168.15.22/jour9-tp/description
#}